#logout_menu{
    min-width: 6rem;
    padding: 0.2rem 0;
    right: 0.5rem;
    left: auto;
}
a[class*="logOutMenu"]{
    padding: 0.3rem 1rem;
}
a[class*="logOutMenu"]:hover{
    color: rgba(95, 123, 184, 0.98);
}

.divForm{
    margin: 1rem 0;
}